#chat-board {
	height: 250px;
	padding: 15px 10px;
	overflow-y: scroll;
	margin-bottom: 25px;
}

.shadow {
  box-shadow:0 1px 2px rgba(0,0,0,.1);
}

.white-bg {
	background-color: white;
}

body, html {
	height: 100%;
}

body {
	background-color: lightgray;
}

body > .container {
	height: 100%;
	padding-top:20px;
}

#send-message {
	position: absolute;
	left: 0;
	right: 0;
	padding: 0 10px;
	bottom: 0;
}

.msg {
	margin-bottom: 5px;
	padding:3px 5px;
	width: 50%;
	border: 1px solid lightgray;
	border-radius: 6px;
	background-color: white;
}

.content {
	display: none;
}

.no-margin {
	margin: 0;
}

.no-padding {
	padding: 0;
}

.sm-padding {
	padding: 10px;
}

.sm-margin {
	margin: 10px;
}

.xs-margin {
	margin: 5px;
}

.xs-margin-bottom {
	margin-bottom: 5px;
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px 0 50px 0;
}

.info {
	margin-bottom: 5px;
}

.info > span {
    padding: 1px 3px;
	color: white;
	font-size: 13px;
	border: 1px solid gray;
	background-color: green;
	border-radius: 4px;
}

#message {
	padding: 2px 5px;
}

.full-width {
	width: 100%;
}

.relative {
	position: relative;
}

#users {
	list-style: none;
}

#users li {

}